.card{
    width: 400px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
    text-justify: auto;
}

.card-content img{
    padding:10px;
    border: 1px solid lightgray;
}

.card-content p{
    font-family: 'Trebuchet MS';
}

.card-content #user_title{
    padding: 5px;
    font-size: 16;
    color: lightgrey;
}
.card-content #user_name{
    font-size: 30;
}

.user-info{
    text-align: left;
}

.icon-box {
    display: flex;
    padding: 1px;
    align-items:center;
    font-size:16px;
 }

 .material-icons { 
    margin-right: 20px;
}

.flex-card-users{
    display: flex;
    flex-wrap: wrap;
}